[fish-ai]
configuration = azure
keymap_1 = ctrl-g
keymap_2 = ctrl-y
language = Korean

[azure]
provider = azure
server = https://mathkingllmbatch2.openai.azure.com
model = gpt-5.2
api_key = YOUR_API_KEY_HERE
